<div *ngIf="student">
  <h2>Alumno: {{student.names}} {{student.lastName}}</h2>
  <table>
    <thead class="table-info">
    <tr>
      <td>Materia </td>
      <td>Calificación </td>
    </tr>
    </thead>
    <tr *ngFor="let subject of student.subjects">
      <td>{{ subject.name }} </td><td>{{ subject.grade }} </td>
    </tr>
  </table>
  <div><label>Carrera: </label>
    <input [(ngModel)]="student.career" placeholder="Carrera"/>
  </div>
  <div>
    <label>Nombres: </label>
    <input [(ngModel)]="student.names" placeholder="Nombres"/>
  </div>
  <div>
    <label>Apellidos: </label>
    <input [(ngModel)]="student.lastName" placeholder="Apellidos"/>
  </div>
  <div>
    <label>Edad: </label>
    <input [(ngModel)]="student.age" placeholder="Edad"/>
  </div>
  <div>
    <label>Telefono: </label>
    <input [(ngModel)]="student.phone" placeholder="Telefono"/>
  </div>
  <div>
    <label>Beca: </label>
    <input [(ngModel)]="student.scolarship" placeholder="Beca"/>
  </div>
  <button (click)="goBack()">Atras</button>
</div>
